.circleCardsList {
  width: min(70rem, 90%);
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  counter-reset: stepnr;
}
.circleCard {
  counter-increment: stepnr;
  width: 18rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
.circleCard::before,
.circleCard::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid rgba(245, 245, 245);
  line-height: 1.1;
}
.circleCard::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}
.circleCard::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

/* Card content */
.circleCard > * {
  width: 7.5rem;
}
